/* WEB */
.submenu-container {
  position: relative;
}

.icon-wrapper svg {
  margin-top: 5px;
  margin-left: 8px;
  transition: all 0.3s ease-in-out;
}

/* Seta girando */
.arrow-toggle.is-open {
  transform: rotate(180deg);
}

.icon-wrapper svg path {
  color: var(--white);
}

.submenu {
  position: absolute;
  background: rgba(20, 20, 20, 0.95);
  list-style-type: none;
  border-radius: 5px;
  margin-top: 25px;
  padding: 10px 0;
  min-width: fit-content;
  z-index: 1000;
}

.submenu::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 25px;
}

.submenu li {
  padding: 8px 10px;
}

.web-item,
.web-subitem {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.web-item:hover {
  color: var(--black);
}

.web-item:hover * {
  color: inherit;
}

/* MOBILE */
.mobile-item,
.mobile-subitem {
  font-weight: 600;
  display: flex;
}

/* Hover Gradiente */
.mobile-item:hover,
.mobile-subitem:hover,
.web-subitem:hover {
  background-image: var(--thematic-item);
  background-size: 200% 100%;
  background-position: 100% 50%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-position 0.2s ease-in-out;
}

.mobile-item:hover * {
  color: var(--blue);
}

li.mobile-subitem {
  list-style: none;
  position: relative;
  padding-left: 20px;
}

li.mobile-subitem::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--thematic-item);
}

/* MOBILE Submenu Animado */
.mobile-submenu {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-4px);
  transition: max-height 0.3s ease-in-out, opacity 0.2s ease,
    transform 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.mobile-submenu.open {
  max-height: 300px;
  opacity: 1;
  margin-top: 10px;
  transform: translateY(0);
}