.btn-menu {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: none;
  width: 30px;
  height: 30px;
}

.btn-menu svg path {
  color: var(--white);
}

.menu-icon {
  cursor: pointer;
  animation: icon-flip 0.3s ease-in-out forwards;
}

.menu-icon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* NAV BAR */
.nav-bar {
  padding: 20px 0;
  background: var(--thematic-item);
  box-shadow: var(--section-shadow);
  position: relative;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav a {
  color: var(--white);
}

/* MOBILE MENU */
#mobile-menu {
  position: absolute;
  top: 70px;
  right: 10px;

  background: rgba(20, 20, 20, 0.9);
  border-radius: 6px;
  box-shadow: var(--item-shadow);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;

  width: 100px;
  overflow: hidden;

  transition: width 0.3s ease-in-out;
}

#mobile-menu.expanded {
  width: 160px;
}

/* MEDIA QUERIES (WEB) */
@media (min-width: 768px) {
  .btn-menu {
    display: none;
  }

  .web-items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .web-items a {
    display: flex;
    align-items: flex-start;
    margin: 0 20px;
  }
}

@keyframes icon-flip {
  0% {
    opacity: 0;
    transform: rotate(-90deg) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}