.skeelo-title {
    font-size: 40px;
    color: #2DA44A;
}

.skeelo-range {
    padding: 10px 20px;
    background: linear-gradient(90deg, #2DA44A 18.03%, #113E1C 76.53%);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.frames-block::-webkit-scrollbar {
    color: #113E1C;
    height: 8px;
    background-color: transparent;
    border-radius: 5px;
}

.hide-skeelo-epic {
    background: rgba(20, 73, 33, 0.5);
}

@media (min-width: 320px) and (max-width: 768px) {
    .skeelo-title {
        font-size: 30px;
    }
}