.epic-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    position: relative;
}

.block-elements-nav.hide {
    display: none;
}

.epic-user-stories-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navigation-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-icon {
    cursor: pointer;
    font-size: 25px;
    z-index: 1;
}

.epic-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

h3.epic-section-title {
    font-size: 16px;
    margin-bottom: 10px;
}

h5.metric-title {
    font-weight: 600;
    font-size: 14px;
}

.user-story-title {
    font-size: 14px;
    margin-bottom: 5px;
}

.epic-section-title, .user-story-title {
    font-weight: 600;
}

#epic-user-stories-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.epic-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 10px;
    max-width: 290px;
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 10px;
}

.epic-expand-container::-webkit-scrollbar,
.epic-buttons-container::-webkit-scrollbar {
    background-color: transparent;
    height: 6px;
    width: 6px;
}
.epic-expand-container::-webkit-scrollbar-thumb,
.epic-buttons-container::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    border-radius: 10px;
    cursor: pointer;
}

.epic-button {
    color: #efefef;
    border-radius: 40px;
    font-weight: 600;
    padding: 6px 20px;
}

.btn-skeelo {
    background: linear-gradient(270deg, #144921 3.95%, #30AF4F 96.05%);
}
.btn-skoob {
    background: linear-gradient(270deg, #055568 3.95%, #2C7FA3 96.05%);
}

.epic-expand-container {
    background: #efefef;
    box-shadow: inset 6px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.user-story-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}

.user-story-content p, .metric-value-container p {
    text-indent: 0;
}

ul, ol  {
    margin-left: 20px;
}

.user-story-content ol li  {
    list-style: decimal;
}

.epic-context-text, .user-story-content p, .user-story-content ol li, .dod-details ul li {
    font-size: 14px;
    text-align: justify;
}

.expand-modal {
    position: absolute;
    border: none;
    background-color: transparent;
    z-index: 1;
}
.expand-modal-us {
    right: 40px;
    top: 128px;
}
.expand-modal-dod {
    right: 36px;
    top: 68px;
}

.expand-modal svg {
    cursor: pointer;
}

.modal-content .epic-buttons-container {
    max-width: 390px;
}

.epic-metrics-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.metrics-container {
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    gap: 1rem;
}

.metric-value-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 38px;
    width: 78px;
    border-radius: 0px 0px 10px 10px;
}


.metric-value-container-skeelo {
    background: linear-gradient(180deg, rgba(116, 205, 108, 0) 0%, rgba(56, 207, 93, 0.25) 50%, rgba(21, 111, 43, 0.5) 100%);
}

.metric-value-container-skoob {
    background: linear-gradient(180deg, rgba(61, 196, 214, 0) 0%, rgba(44, 127, 163, 0.25) 50%, rgba(11, 81, 112, 0.5) 100%);
}

.metric-value-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.metric-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem ;
}

.metric-value {
    font-weight: 600;
    font-size: 18px;
}

.hide {
    display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .epic-details-container {
        width: auto;
    }

    .navigation-controls {
        gap: 22rem;
    }

    .epic-buttons-container {
        margin-bottom: 10px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .navigation-controls {
        gap: 19rem;
    }

    .nav-icon {
        font-size: 20px;
    }

    .epic-buttons-container {
        margin-bottom: 10px;
    }

    .expand-modal-us {
        right: 40px;
        top: 132px;
    }

    .expand-modal-dod {
        right: 40px;
        top: 68px;
    }
}

@media (max-width: 430px) {
    .navigation-controls {
        gap: 20rem;
    }
}

@media (max-width: 400px) {
    .navigation-controls {
        gap: 17rem;
    }

    .mockups-stack::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 350px) {
    .navigation-controls {
        gap: 15rem;
    }
}