.title {
    background-image: linear-gradient(90deg, #2DA44A 0%, #3DD6B3 50%, #2C7FA3 100%);
    color: transparent;
    background-clip: text;
    font-size: 5rem;
}

#bg-green-top {
    margin-right: 20px;
    margin-left: 20px;
    padding: 60px;

    background: linear-gradient(180deg, rgba(61, 214, 179, 0.2) 0%, rgba(91, 220, 191, 0.168839) 35.76%, rgba(121, 227, 203, 0.137677) 71.53%, rgba(255, 255, 255, 0) 100%);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.typing-container {
    font-size: 1.2rem;
}

.subtitle {
    margin-bottom: -20px;
}

.typing-container p {
    text-indent: 0;
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
}

@media (max-width: 480px) {
    .center {
        gap:2rem;
    }

    .typing-container {
        text-align: center;
    }

    .title {
        font-size: 3rem;
    }

    .subtitle, .typing-container p {
        font-size: 0.8rem;
        margin-bottom: 0px;
    }

    #bg-green-top {
        padding: 30px;
    }
}

@keyframes blink {
  from, to { opacity: 0; }
  50% { opacity: 1; }
}