.epic-product {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mockup-group.open {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mockup-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.mockup-stack.details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* FRAME COMPONENT */
.frame-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: nowrap;
    gap: 4rem;
    padding: 20px 30px;
    cursor: grab;
}

.drag-scroll {
  cursor: grab;
  touch-action: pan-x;
}

.drag-scroll.dragging {
  cursor: grabbing;
  user-select: none;
}


@media (min-width: 768px) {
    .frame-group {
        gap: 2rem;
    }

    .mockup-stack.details {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
}