.epics-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
}

.first-col-epic {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.block-p-epic {
    width: 400px;
}

.epic-content-mockups {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.second-col-epic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageMoc {
    width: 70%;
    height: auto;
}

.epic-block-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.span-image {
    display: block;
    width: 10%;
}

.range {
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.range p {
    font-size: 18px;
    white-space: nowrap;
    text-indent: 0;
    font-weight: 600;
    color: #efefef;
}

.range-tag {
    min-width: 100px;
    flex: 0 0 auto;
    text-align: center;
}

.frames-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 20px auto;
    padding: 40px 20px;
    gap: 1rem;
}

.frames-block::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 25px;
}

.frames-block::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
    border-radius: 5px;
}

.frame-image {
    display: block;
    max-width: 230px;
    height: auto;
    border: 2px solid #141414;
    border-radius: 10px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.604);
}

.mockup-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.frame-infos-action {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    z-index: 2;
}

.cam-point,
.frame-infos-action {
    position: absolute;
    z-index: 3;
}

.cam-point {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 20px;
    background: #141414;
    backdrop-filter: blur(35px);
}

.btn.go-to-block-frame {
    font-weight: 500;
    transition: transform 0.3s ease-in-out;
}

.btn.go-to-block-frame:hover {
    transform: scale(1.1);
}

.frame-container {
    position: relative;
    display: inline-block;
}

.hide-epic {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    height: 99%;
    border-radius: 10px;
    backdrop-filter: blur(35px);
}

.frame-infos-action .frame-info-title {
    font-weight: 500;
    color: #efefef;
}

.frame-info-title {
    max-width: 180px;
}

.frame-infos-action svg {
    color: #efefef;
}

.hide {
    display: none;
}
.invisible {
    visibility: hidden;
}

.close-icon {
    display: flex;
    justify-content: flex-end;
}

.epic-title.epic-section-title {
    font-size:18px;
    text-align: center;
}

.mockups-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.frames-block {
    cursor: grab;
}

.frames-block.dragging {
    cursor: grabbing;
    user-select: none;
}

@media (min-width: 320px) and (max-width: 768px) {
    .epics-content {
        justify-content: flex-start;
    }

    .frames-block {
        gap: 3rem;
        padding: 20px 30px;
    }

    .block-p-epic {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }

    .second-col-epic {
        display: none;
    }

    .mockup-frame {
        max-width: 200px;
    }

    .epic-title.epic-section-title {
        font-size: 16px;
        margin-top: 10px;
    }

    .mockups-stack {
        flex-direction: column;
        overflow: hidden;
        overflow-x: auto;
        gap: 1rem;
    }

    .mockups-stack::-webkit-scrollbar {
        height: 8px;
        background-color: transparent;
        border-radius: 5px;
    }
    .mockups-stack::-webkit-scrollbar-thumb {
        background-color: #c7c7c7;
        border-radius: 25px;
    }
}

/* CSS para EpicDinamicDetails */
.frames-block {
    justify-content: flex-start;
}

.frames-block::-webkit-scrollbar {
    width: 8px;
}