.epic-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.drag-scroll {
    cursor: grab;
    touch-action: pan-y;
}

.drag-scroll.grabbing {
    cursor: grabbing;
}

.drag-scroll.dragging {
    user-select: none;
}

.epic-content-mockups {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.frames-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 20px auto;
    padding: 40px 20px;
    gap: 1rem;
}

.frames-block::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 25px;
}

.frames-block::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
    border-radius: 5px;
}

.mockup-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hide {
    display: none;
}
.invisible {
    visibility: hidden;
}

.btn-close {
    display: flex;
    justify-content: flex-end;
}

.epic-title.epic-section-title {
    text-align: center;
}

.mockups-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.frames-block {
    cursor: grab;
}

.frames-block.dragging {
    cursor: grabbing;
    user-select: none;
}

@media (min-width: 320px) and (max-width: 768px) {
    .frames-block {
        gap: 3rem;
        padding: 20px 30px;
    }

    .epic-title.epic-section-title {
        margin-top: 10px;
    }

    .mockups-stack {
        flex-direction: column;
        overflow: hidden;
        overflow-x: auto;
        gap: 1rem;
    }

    .mockups-stack::-webkit-scrollbar {
        height: 8px;
        background-color: transparent;
        border-radius: 5px;
    }
    .mockups-stack::-webkit-scrollbar-thumb {
        background-color: #c7c7c7;
        border-radius: 25px;
    }
}

/* CSS para EpicDinamicDetails */
.frames-block {
    justify-content: flex-start;
}

.frames-block::-webkit-scrollbar {
    width: 8px;
}