.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    box-shadow: 0 4px 10px rgba(20, 20, 20, 0.2);
    z-index: 1000;

    background-color: #efefef;
    margin: 0 auto;
    padding: 20px;
    max-width: 450px;
    border-radius: 10px;
}

.close-icon-modal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #141414;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

.modal-title {
    color: #efefef;
    font-size: 16px;
    text-align: center;
}

.modal-image {
    max-width: 120px;
}

.modal-content {
    margin: 30px 10px;
}
.modal-content .epic-expand-container {
    box-shadow: none;
    border-radius: 0;
    padding: 6px;
}
.modal-content .epic-section-title {
    font-size: 18px;
    font-weight: 700;
}
.modal-content .epic-expand-container h4 {
    font-weight: 700;
}
.modal-content .epic-expand-container p, .modal-content .epic-expand-container li {
    font-size: 14px;
}
.modal-content .epic-section-title {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.7); 
    display: none;
}

.overlay.open {
    display: block;
    z-index: 9;
}

body.modal-open {
    overflow: hidden;
}  

.modal-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-container.open {
    opacity: 1;
    visibility: visible;
}

.modal-block {
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.modal-container.open .modal-block {
    transform: scale(1);
}

@media (max-width: 400px) {
    .modal-container {
        padding: 10px;
    }

    .modal-container.open {
        max-height: 500px;
        min-width: 300px;
        overflow: auto;
    }

    .modal-container.open::-webkit-scrollbar {
        display: none;
    }

    .modal-title {
        font-size: 14px;
    }

    .modal-content {
        margin: 10px 0;
    }

    .modal-header {
        padding: 0px 10px;
        gap: 1rem;
    }
}

@media (min-width: 400px) {
    .modal-container {
        min-width: 380px;
    }
}

@media (min-width: 768px) {
    .modal-header {
        justify-content: space-around;
    }
    .modal-title {
        font-size: 20px;
    }
}