:root {
  --white: #efefef;
  --black: #212121;

  --gray: #c3c3c3;

  --text-black: #454545;

  --green: #2DA44A;
  --light-green: #00C38C;
  --dark-green: #113e1c;

  --blue: #1DA1F2;

  --red: #d20000;

  --thematic-item: linear-gradient(90deg,
      #00C38C 0%,
      #3dd6b3 50%,
      #1DA1F2 100%);

  --on-focus: 0 0 6px rgba(77, 255, 136, 0.6),
    0 0 14px rgba(77, 255, 136, 0.45),
    0 0 28px rgba(77, 255, 136, 0.25);

  --item-shadow: 6px 6px 6px rgba(33, 33, 33, 0.25);
  --section-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);

  --film-top: linear-gradient(180deg, rgba(61, 214, 179, 0.2) 0%, rgba(91, 220, 191, 0.168839) 35.76%, rgba(121, 227, 203, 0.137677) 71.53%, rgba(255, 255, 255, 0) 100%);
  --film-bottom: linear-gradient(360deg, rgba(61, 214, 179, 0.2) 0%, rgba(91, 220, 191, 0.168839) 35.76%, rgba(121, 227, 203, 0.137677) 71.53%, rgba(255, 255, 255, 0) 100%);

  --font-sm: clamp(0.875rem, 0.85rem + 0.25vw, 1rem);
  --font-md: clamp(1rem, 0.95rem + 0.35vw, 1.25rem);
  --font-lg: clamp(1.375rem, 1.25rem + 0.6vw, 1.75rem);
}

/* GENERAL STRUCTURE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;

  color: var(--text-black);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
  background-color: var(--white);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.lp-structure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

/* ELEMENTS */
h2,
h3 {
  font-size: var(--font-md);
  font-weight: 600;
}

h4,
h5 {
  font-size: var(--font-sm);
  font-weight: 600;
}

button {
  border: none;
  background: none;
  font-size: var(--font-sm);
  font-weight: 600;

  transition: all 0.3s ease-in-out;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: var(--item-shadow);
}

.btn,
a {
  cursor: pointer;
}

.btn-close path {
  color: var(--red);
}

.btn-close:hover {
  cursor: pointer;
}

p {
  font-size: var(--font-sm);
  cursor: text;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
}

/* COMPONENTS */
.section-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px clamp(1rem, 4vw, 3rem);
}

.title-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-title {
  font-size: var(--font-lg);
  font-weight: 600;
}

.subtitle {
  font-weight: 100;
}

.text-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-indent: 10px;
  text-align: justify;
}

/* GENERAL SETTINGS */
*::-webkit-scrollbar {
  background: none;
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 6px;
}

body.modal-open {
  overflow: hidden;
}

/* SPECIFIC STYLES */
.indent {
  text-indent: 10px;
}

.w-600 {
  font-weight: 600;
}

.hide {
  display: none;
}

.hidden {
  opacity: 0;
  cursor: auto;
}

@media (max-width: 470px) {
  .lp-structure {
    gap: 3rem;
  }

  .section-container {
    padding: 20px clamp(1rem, 4vw, 3rem);
  }
}