/* Estilos globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.text-white {
    color: #efefef;
}

/* Estilização da main */
#main {
  background-color: #efefef;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
}

.content-section {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 8%;
}

.content-block {
  margin: 60px 0;
}

.content-blocks {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-title {
  font-size: 28px;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
  user-drag: none;
}

h4.subtitle {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #efefef;
  cursor: pointer;
}

.btn {
  padding: 10px 20px;
  border: none;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.btn:hover {
  cursor: pointer;
}

.text-blocks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-indent: 10px;
  text-align: justify;
}

.w-600 {
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 768px) {
  .section-title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 16px;
  }

  .btn {
    font-size: 12px;
  }

  p {
    font-size: 14px;
  }

  .content-blocks {
    gap: 3rem;
  }

  #bg-green-top {
    border-radius: 20px 20px 0px 0px;
  }
  #bg-green-bottom {
    border-radius: 0px 0px 20px 20px;
  }
}

.close-icon {
  color: #ff0000;
  font-size: 25px;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 768px) {
  .close-icon {
    font-size: 23px;
  }

  .content-section {
    padding: 0 4%;
  }
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 10px;
  }

  #bg-green-top {
    border-radius: 25px 25px 0px 0px;
  }
  #bg-green-bottom {
    border-radius: 0px 0px 25px 25px;
  }
}