#bg-green-bottom {
    margin-right: 20px;
    margin-left: 20px;
    padding: 60px;

    background: linear-gradient(360deg, rgba(61, 214, 179, 0.2) 0%, rgba(91, 220, 191, 0.168839) 35.76%, rgba(121, 227, 203, 0.137677) 71.53%, rgba(255, 255, 255, 0) 100%);
}

.p-contact a:hover {
    font-size: 1rem;
    transition: 0.5s;
}

.contact-card-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p-contact {
    font-weight: 600;
    color: #efefef;
    position: absolute;
    z-index: 1;
}

.email-button {
    border: none;
    background: none;
    color: #efefef;
    font-weight: 600;
    cursor: pointer;
}

.img-contact {
    position: relative;
}

.block-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 768px) {
    .p-contact a {
        font-size: 12px;
    }

    .contact-card-block {
        flex-wrap: wrap;
        gap: 2rem;
    }

    #bg-green-bottom {
        margin: 60px 10px;
        padding: 30px;
    }

    .img-contact {
        width: 200px;
    }
}

@media (min-width: 480px) {
    .p-contact a {
        font-size: 15px;
    }
}