.range {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    will-change: transform;
    padding: 10px 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.range p {
    font-size: 18px;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--white);
    cursor: pointer;
}

.range-tag {
    min-width: 100px;
    flex: 0 0 auto;
    text-align: center;
    white-space: nowrap;
    flex-shrink: 0;
}