.range {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: var(--section-shadow);
}

.range-track {
  display: flex;
  will-change: transform;
}

.range-row {
  display: flex;
  gap: 2rem;
  flex-shrink: 0;
  align-items: center;
}

.range-tag {
  flex: 0 0 auto;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}

.range-row.spacer {
  flex-shrink: 0;
  height: 100%;
  visibility: hidden;
}