.btn-menu svg path {
  color: var(--white);
}

.menu-icon {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-icon:hover {
  transform: scale(1.1);
}

.nav-bar {
  padding: 20px 0;
  background: var(--thematic-item);
  box-shadow: var(--section-shadow);
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav a {
  color: var(--white);
}

/* Estilos do menu dropdown no mbile */
#mobile-menu {
  position: absolute;
  top: 70px;
  right: 10px;

  background: rgba(20, 20, 20, 0.90);
  border-radius: 6px;
  box-shadow: var(--item-shadow);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}

@media (min-width: 768px) {
  .btn-menu {
    display: none;
  }

  .web-items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .web-items a {
    display: flex;
    align-items: flex-start;
    margin: 0 20px;
  }
}