/* WEB */
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper svg {
  margin-top: 5px;
  margin-left: 8px;
}

.icon-wrapper svg path {
  color: var(--white);
}

#submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submenu {
  position: absolute;
  background: rgba(20, 20, 20, 0.9);
  list-style-type: none;
  border-radius: 5px;
  margin: 30px 0;
}

.submenu li {
  margin: 20px 0;
}

.web-item,
.web-subitem {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.web-item:hover {
  color: var(--black);
}

.web-item {
  display: flex;
  align-items: center;
}

/* MOBILE */
.mobile-item,
.mobile-subitem {
  font-weight: 600;
}

.mobile-item:hover,
.mobile-subitem:hover,
.web-subitem:hover {
  background-image: var(--thematic-item);
  color: transparent;
  background-clip: text;
}

.mobile-subitem {
  list-style-type: none;
}

.mobile-submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}