.section-elements {
    display: flex;
}

.content-block-elements {
    background-color: #141414;
    min-height: 590px;
}

.epic-block,
.title-summary,
.p-element {
    color: #efefef;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    position: relative;
}

details {
    width: 100%;
    overflow: hidden;
}

.p-element {
    text-align: center;
    max-width: 100px;
    text-indent: 0;
    margin-top: 10px;
}

details summary::-webkit-details-marker {
    display: none;
}

.icon-toggle {
    transition: transform 0.3s ease;
}

.icon-toggle.rotated {
    transform: rotate(180deg);
}

.p-element {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.toggle-section.expanded .p-element {
    max-height: 500px;
    opacity: 1;
}

.title-summary {
    display: flex;
    background: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    border: none;
    padding: 0;
    color: #efefef;
}

.title-summary svg {
    margin-top: 5px;
    margin-left: 8px;
}

details {
    width: 100%;
}

details summary {
    display: block;
    width: 100%;
}

summary:hover {
    cursor: pointer;
}

.epic-block {
    display: flex;
    align-items: center;
    background: #2DA44A;
    padding: 0 20px;
    border-radius: 0px 200px 200px 0px;
    width: 650px;
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

.epic-image {
    width: auto;
    height: 220px;
    top: -6px;
    position: relative;
    transform: matrix(-0.07, -1, -1, 0.07, 0, 0);
    align-self: stretch;
}

.epic-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 0.5rem;
    max-width: 600px;
}

.img-container-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 3px solid #2DA44A;
    border-radius: 50%;
    margin-bottom: 10px;
}

.img-container-elements img {
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
}

#block-elements {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.block-elements.content-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 40px auto;
}

@media (min-width: 320px) and (max-width: 768px) {
    .epic-block {
        max-width: 100%;
        padding: 20px;
    }
    .epic-image {
        display: none;
    }
    .epic-content {
        padding: 10px;
    }
}