.context-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.context-section .text-group {
    max-width: 600px;
}

.img-group::before {
    content: "";
    position: absolute;
    background: var(--thematic-item);
    box-shadow: var(--item-shadow);

    height: 4px;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

.img-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    margin-top: 1rem;
}

img.skoob {
    background: var(--white);
}

.img-circle-container {
    position: relative;
    display: inline-block;
    padding: 4px;
    border-radius: 50%;
    background: var(--thematic-item);

    width: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;

    z-index: 1;
    box-shadow: var(--item-shadow);
    animation: float 3s ease-in-out infinite;
}

.img-circle-container .img {
    display: flex;
    border-radius: 50%;

    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: zoom-in;

    transition: transform 0.3s ease-in-out;
}

.img-circle-container .img:hover {
    transform: scale(1.2);
}

.btn-skoob {
    background-color: var(--blue);
}

.btn-skeelo {
    background-color: var(--light-green);
}

.btn-publishnews {
    background-color: var(--dark-green);
}

.btn-skoob,
.btn-skeelo,
.btn-publishnews {
    text-transform: uppercase;
    color: var(--white);
}

@media (min-width: 768px) {
    .img-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .img-group::before {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    .context-section {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        gap: 10px;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}