.btns-block {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.btn-skoob {
    background-color: #2C7FA3;
}
.btn-skeelo {
    background-color: #2DA44A;
}
.btn-publishenews {
    background-color: #113E1C;
}

.btn-skoob,
.btn-skeelo,
.btn-publishenews {
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
}

.btn-skoob:hover,
.btn-skeelo:hover,
.btn-publishenews:hover {
    transform: scale(1.1);
}

.btn-twhite {
    color: #efefef;
}

.images-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.images-block::before {
    content: "";
    position: absolute;
    width: 4px;
    background: linear-gradient(180deg, #2da44a 0%, #3dd6b3 50%, #2c7fa3 100%);
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.25);
}

.img-container {
    position: relative;
    display: inline-block;
    padding: 4px;
    border-radius: 50%;
    background: linear-gradient(90deg, #2da44a 0%, #3dd6b3 50%, #2c7fa3 100%);

    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-container .img {
    display: block;
    border-radius: 50%;
}

.p-block {
    max-width: 600px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.images-block .img-container {
    animation: float 3s ease-in-out infinite;
}


@media (min-width: 320px) and (max-width: 768px) {
    .btns-block, .images-block {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-between;
    }

    .images-block {
        gap: 3rem;
    }

    .images-block::before {
        height: 4px;
        width: 100%;
        background: linear-gradient(90deg, #2da44a 0%, #3dd6b3 50%, #2c7fa3 100%);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .btns-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%; 
    }

    .context-section {
        padding: 0 30px;
    }
}